body {
    background: rgb(26,28,30);
    background: linear-gradient(180deg, rgb(229, 240, 241) 50%, rgb(207, 224, 224) 50%, rgb(211, 237, 238) 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-zoom: 80%;
    max-zoom: 80%;
    
}
#pageupper p {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    
}
#par2 p {
    font: system-ui;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    margin-top: 5px;
    color: red;
}

#select {
    background: #1a7a7e;
    align-items: center;
    justify-content: space-between;
    color: aqua;
    margin-top: 10em;
    width: 100em;
    height: 90px;
    padding: 10px 10px;
    border-radius: 4px;
    position: relative;

}
#pageupper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#select img {
    width: 15px;
    margin-left: 30em;
}
#select ul {
    position: absolute;
    top: 80%;
    left: 7%;
    list-style: none;
    background: #1a7b7ec2;
    color: #ffffff;
    width: 45%;
    border-radius: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
#list {
    font-size: x-large;
}
#select ul.open {
    max-height: 200em;
}
#select button {
    width: 50%;
    position: center;
    align-items: center;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 25px;
    border-radius: 4px;
}
#select p {
    all: unset;
    font-size: 22px ;
    font: 30px Georgia;
    
}
#select ul li {
    padding: 20px 20px;
    cursor: pointer;
}
#pagedown {
    background: #1a7a7e;
    width: 100%;
    height: 10em;
    margin-top: 70em;
}
#pagedown1 {
    display: flex;
}
#pagedown2 {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#country {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 0;
}
#founding {
    font-size: 30px;
    margin-left: 28em;
    margin-top: 0;
}
#privacy {
    font-size: 25px;
    margin-left: 0em;
}
#terms {
    font-size: 25px;
    margin-left: 10em;
}
#settings {
    font-size: 25px;
    margin-left: 10em;
}
#form {
    background: #1a7b7e;
    display: none;
    flex-direction: column;
    position: relative;
    border-radius: 4px;
    width: 45%;
    height: 30em;
    top: 5px;
    left: 5%;
    font-size: 20px;
    padding: 50px 50px;
    color: #ffffff;
    animation: transitions 1s;

}
@keyframes transitions {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#form input {
    font-size: 18px;
    
}
#form label {
    width: 100px;
    display: inline-block;
}
#form textarea {
    font-size: 15px;
}
#submit {
    width: 18%;
    height: 2em;
    align-items: center;
    justify-content: center;
    margin-left: 7.8em;
    font-weight: bolder;

}
#popup {
    font-size: xx-large;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    border-radius: 6px;
    background-color: #ffffff;
    color: #1a7a7e;
    visibility: visible;
    width: 20em;
    height: 8em;
    top: -10%;
    left: 35%;
    transform: translate(-50%,-50%) scale(0.1);
    transition: 0.4s, top 0.4s;
}
#popup img{
    width: 120px;
    margin-top: -80px;
}
#popup h2 {
    margin-top: 5px;
}
#ok {
    width: 150px;
    font-size: x-large;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}
#popup-open {
    top: 50%;
    transform: translate(50%,50%);
}